#header{
background: #ADD8E6;
text-align: center;
color:#000080; 
padding: 5px;     
}

#left1
{
	padding:10px;
	float: left;
	width:411px;
	background: yellow ;
	text-align:justify;
	box-sizing:border-box;
display: inline-block;
	}

#left2
{
	padding:15px;
	width:870px;
height:316px;
	background: green ;
	color: white;
float: right;
text-align:justify;
box-sizing:border-box;
display: inline-block;	
	
}

#left3
{
	padding:28px;
width:1519px;
	background:#ADD8E6 ;
box-sizing:border-box;
text-align:center;
float:left;
display: inline-block;
}

#left4
{
	padding:10px;
	background: pink;
display: inline-block;
}
background
{
width:500px
}
img
{ 
	padding:2px;
	background: blue ;
	display: inline-block;
	float:left;
	width:221px;
	height: 315px;
	box-sizing:border-box;
}

#footer
{
	background: #B22222 ;
	padding:10px;
}

#slider-wrap{ /* Оболочка слайдера и кнопок */
	width:880px; 
	}
#slider{ /* Оболочка слайдера */
	width:500px;
	height:300px;
	overflow: hidden;
	border:#eee solid 10px;
	position:relative;}
.slide{ /* Слайд */
	width:100%;
	height:100%;
	}
.prv_b, .nxt_b{
position:absolute;
top:135px;
display:block;
width:35px;
height:35px;
cursor:pointer;
}
.prv_b:hover, .nxt_b:hover{opacity:.6;}
.prv_b{
left:10px;
background:url(arrowBg.png) no-repeat;
}
.nxt_b{
right:10px;
background:url(radioBg.png) no-repeat;
}